<form>
  <label>Enter Email</label>
  <input type="email" class="form-control" id="email-field">
</form>

<div class="text-center" style="margin-top: 1em;" id="full_email"></div>
<div class="text-center" style="margin-top: 1em;" id="before_at"></div>
<div class="text-center" style="margin-top: 1em;" id="after_at"></div>
<div class="text-center" style="margin-top: 1em;" id="mail_to_link"></div>

<script>
  
    $("#email-field").keyup(function () {
        $("#full_email").empty()
        $("#full_email").append($(this).val())

        if (validateEmail($(this).val())) {
            $(this).removeClass("error")
            $(this).addClass("success")
        } else {
            $(this).removeClass("success")
            $(this).addClass("error")
        }

        var splitted_email = $(this).val().split("@")

        if (splitted_email.length == 1) {
            $("#before_at").empty()
            $("#before_at").append(splitted_email[0])
        }

        if (splitted_email.length == 2) {
            $("#before_at").empty()
            $("#before_at").append(splitted_email[0])

            $("#after_at").empty()
            $("#after_at").append(splitted_email[1])
        }

        $("#mail_to_link").empty()
        $("#mail_to_link").append("<a href=mailto:" + $(this).val() + "?subject=this is a easy task><button>Click</button></a>")
    })

    function validateEmail($email) {
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        return emailReg.test($email);
    }
</script>